[Unit]
Description=Collect people count
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0.0
WorkingDirectory=/home/cnd/observability/people-counter-demo
ExecStart=/usr/bin/python3 /home/cnd/observability/people-counter-demo/main.py collect_people_count --period_seconds=5
Restart=on-failure
StartLimitBurst=0
User=cnd
Group=cnd

[Install]
WantedBy=default.target
