[Unit]
Description=Push people count
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/cnd/observability/people-counter-demo
ExecStart=/home/cnd/observability/people-counter-demo/main.py push_people_count node2 --job_name=p2 --push_gateway_addr=https://pushgateway.dev.cloudnativedays.jp/ --push_period_seconds=5
Restart=on-failure
StartLimitBurst=0
User=cnd
Group=cnd

[Install]
WantedBy=default.target
